body {
    padding: 0;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100vw;
}

h3 {
    font-size: 24px;
}

.overlay-box,
.game-container,
.count-container {
    box-sizing: border-box;
    position: fixed;
    background-color: 	rgba(0, 0, 0, 0.4);
    border: white 2pt solid;
    box-shadow: 10px 10px 5px grey;
    font-family: 'Black Han Sans', sans-serif;
    text-shadow: 3px 3px 4px black, 0 0 25px black, 0 0 5px black;
    letter-spacing: 3px;
    color: white;
    text-align: center;
    height: auto;    
    width: auto;
    padding: 10pt;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9999;
}

h1 {
color: gold;
}

.game-container {
margin-top: 30%;
background-color: 	rgba(0, 0, 0, 0.01);
border: none;
box-shadow: none;
}

.count-container {
margin-left: 25%;
background-color: 	rgba(0, 0, 0, 0.01);
border: none;
box-shadow: none;
text-shadow: 4px 4px 5px black, 0 0 25px black, 0 0 5px black;   
}

span {
    width: auto;
    font-size: 20px;
}

.collapse {
    width: auto;
    font-size: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#zoomButton {
    font-size: 9px;
    left: 5%;
    top: 2%;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    background-color: steelblue;
    border: none;
    }

/* ANIMATIONS */

@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: 0.3s, 1.5s;
    animation-duration: 0.3s, 1.5s;
    -webkit-animation-delay: 0s, 0.3s;
    animation-delay: 0s, 0.3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  